<%- include('../_layouts/adminHeader')  %> 
<h2 class="page-title">Add a page</h2>
<a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
<br><br>
<form action="/admin/pages/add-page" method="post">
    <div class="form-group">
      <label for="">Title</label>
      <input type="text" name="title" value="<%= title %>" class="form-control" placeholder="Title" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="">Slug</label>
      <input type="text" name="slug" value="<%= slug %>" class="form-control" placeholder="Slug" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="">Content</label>
      <textarea name="content" class="form-control" id="ta" placeholder="Content" cols="30" rows="10"><%= content %></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<%- include('../_layouts/adminFooter')  %> 