<%- include('../_layouts/adminHeader') %>
<h2 class="page-title">Categories</h2>
<a href="/admin/categories/add-category" class="btn btn-primary">Add new category</a>
<br /><br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach(function(cat){%>
    <tr>
      <td><%= cat.title %></td>
      <td>
        <a
          class="btn btn-warning"
          href="/admin/categories/edit-category/<%= cat.slug %>"
          >Edit</a
        >
      </td>
      <td>
        <a class="confirmDeletion btn btn-danger" href="/admin/categories/delete-category/<%= cat.id %>"
          >Edit</a
        >
      </td>
    </tr>
    <%}) %>
  </tbody>
</table>

<%- include('../_layouts/adminFooter') %>
